<html>
  <head>
    <title>Home</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>This is a heading!</h1>
    <p>This is some text. It is very nice. I think I'm going to put an image below. I haven't decided what yet, but whatever.&#13;&#10; &#13;&#10;Still thinking...</p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class = "animalPic">
      <img  src = "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Plains_Zebra_Equus_quagga.jpg/1200px-Plains_Zebra_Equus_quagga.jpg" alt = "A picture of a zebra"/>
    </div>
    <h3>That's right. I decided to put a picture of a zebra. I don't know...</h3>
    <h2>Here are some other pages with pictures of animals:</h2>
    <div id="navigationBar">
      <div class = "navLink"><a href="/horse">A Horse.</a></div>
      <div class = "navLink"><a href="/lion">How 'bout a lion?</a></div>
      <div class = "navLink"><a href="/tiger">A tiger?</a></div>
      <div class = "navLink"><a href="/me">How about my favorite animal? The greatest animal?</a></div>
    </div>
  </body>
</html>
