<!DOCTYPE html>
<html>
    <head>
        <title>my favorite animal.</title>
        <link href="styles.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Actually, I have a lot of favorite animals.</h1>
        <div id = favAnimals>
            They include:
            <ul>
                <li>My dog</li>
                <li>Chimpanzees</li>
                <li>Fish</li>
            </ul>
        </div>
        <h2>But really, scroll down for the best one.</h2>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <div id = theReveal>
            <h3>Me!</h3>
            <img src = "/me.jpeg"/>
        </div>
        <p>Click <a href="/">here</a> to return to the zebra page.</p>
    </body>

</html>